# 🧠 IDE и окружение
.idea/
.vscode/
__pycache__/
*.pyc

# 🧰 Виртуальное окружение
.venv/
env/
venv/

# 📂 Временные и пользовательские данные
downloads/
excel_file/
*.xlsx
*.xls
test_results.xlsx

# 📦 Логи и временные файлы
*.log
*.tmp

# 🚀 Другие служебные файлы
.DS_Store
Thumbs.db
