# 🧠 IDE и окружение
.idea/
.vscode/
__pycache__/
*.pyc

# 🧰 Виртуальное окружение
.venv/
env/
venv/

# 📂 Временные и пользовательские данные
downloads/
excel_file/
*.xlsx
*.xls
test_results.xlsx

# 💾 Базы данных (важные данные, не должны попасть в репозиторий)
app/db.sqlite3
app/*.sqlite3
app/*.db
app/*.sqlite

# 📦 Логи и временные файлы
*.log
*.tmp

# 🚀 Другие служебные файлы
.DS_Store
Thumbs.db


# 📜 Сертификаты, архивы и прочие личные файлы
*.zip
*.rar
*.7z
*.pdf
*.docx
*.doc
*.pptx
*.bak
*.backup
